<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CMS后台登录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/admin/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/admin/layuiadmin/style/login.css" media="all">
</head>
<body>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>CMS管理系统</h2>
            <p>CMS后台管理中心---管理员登录</p>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="layui-row flash_msg">
                    <div class="layui-col-xs12">
                        <div class="layui-btn layui-btn-danger" style="margin-left: 23px;width: 328px;">
                            <ol>
                                {% for message in get_flashed_messages() %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        <form action="" method="post">
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                           placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"
                           for="LAY-user-login-password"></label>
                    <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                           placeholder="密码" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                                   for="LAY-user-login-vercode"></label>
                            <input type="text" name="captcha" id="LAY-user-login-vercode" lay-verify="required"
                                   placeholder="图形验证码" class="layui-input">
                            <input type="hidden" name="image_code_id">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img src="" style="cursor: pointer" onclick="" class="layadmin-user-login-codeimg get_pic_code">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button type="submit" class="layui-btn layui-btn-fluid" lay-submit
                            lay-filter="LAY-user-login-submit">
                        登 录
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="layui-trans layadmin-user-login-footer">
        <p>©2020 <a href="/" target="_blank">必慕科技</a></p>
    </div>
</div>

<script src="/static/admin/assets/js/jquery.min.js"></script>
<script src="/static/admin/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '/static/admin/' //静态资源所在路径
    }).extend({
        index: 'layuiadmin/lib/index' //主入口模块
    }).use(['index', 'user'], function () {
        //实际使用时记得删除该代码
        layer.msg('请输入管理员账号密码登录', {
            offset: '15px'
            , icon: 1
        });
    });
    window.onload = generateImageCode

    function generateImageCode() {
        // 获取uuid
        imageCodeId = generateUUID();
        // 构造请求的url，设置给 src 属性
        var url = '/admin/image_code?image_code_id=' + imageCodeId
        $('.get_pic_code').attr('src', url)
        $("input[name='image_code_id']").val(imageCodeId)  // 给隐藏域设置值
    }

    function generateUUID() {
        var d = new Date().getTime();
        if (window.performance && typeof window.performance.now === "function") {
            d += performance.now();
        }
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = (d + Math.random() * 16) % 16 | 0;
            d = Math.floor(d / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }

</script>
</body>
</html>
